@{
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<div class="container mt-5">
    <h1 class="mb-4 text-center">Manager Management</h1>

    <div class="d-flex flex-column align-items-center gap-3">

        <form method="get" action="/shop/approve">
            <button type="submit" class="btn btn-success w-100">Phế duyệt cửa hàng</button>
        </form>

        <form method="get" action="/product/approve">
            <button type="submit" class="btn btn-info w-100">Phế duyệt sản phẩm</button>
        </form>

        <form method="get" action="/shops">
            <button type="submit" class="btn btn-info w-100">Quản lý cửa hàng</button>
        </form>
    </div>
</div>