@{
    Layout = "~/Views/Shared/SaleLayout.cshtml";
    ViewBag.Title = "Trang chủ Sale";
}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Sale Management</h1>

    <div class="d-flex flex-column align-items-center gap-3">

        <form method="get" action="/product/product-of-shop">
            <button type="submit" class="btn btn-success w-100">Quản lý sản phẩm</button>
        </form>

        <form method="get" action="/shop/order">
            <button type="submit" class="btn btn-info w-100">Quản lý đơn hàng</button>
        </form>

        <form method="get" action="/products">
            <button type="submit" class="btn btn-info w-100">Quản lý trạng thái sản phẩm</button>
        </form>

        <form method="get" action="/shop/update">
            <button type="submit" class="btn btn-info w-100">Quản lý thông tin cửa hàng</button>
        </form>
    </div>
</div>