@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    ViewBag.Title = "Trang chủ User";
}
@* C:\Codes\PRN222\PRN222_Beverage_Website_Project\PRN222_Beverage_Website_Project\Views\Shared\UserLayout.cshtml *@
<div class="container mt-5">
    <h1 class="mb-4 text-center">User Management</h1>

    <div class="d-flex flex-column align-items-center gap-3">

        <form method="get" action="/feature">
            <button type="submit" class="btn btn-success w-100">Feature 1</button>
        </form>

        <form method="get" action="/feature">
            <button type="submit" class="btn btn-info w-100">Feature 2</button>
        </form>
    </div>
</div>